@import "../../components/atom/EntryBox/index.module.scss";

.group-container {
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

    .group-sticker {
        display: block;
        margin: 0 auto 20px auto;
        width: 88px;
        height: 88px;
        padding: 22px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 35%;
    }

    .group-name {
        font-family: serif;
        font-size: 14px;
        letter-spacing: 0.7px;
        text-align: center;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 140px;
        white-space: nowrap;
    }

    .add-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 130px;
        font-size: 30px;
        color: #ff6f61;
    }
}
